@charset "UTF-8";
.wrap-profile{
    padding:95px 0px;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: #d9e6ee;
}

.wrap-profile .badge-profile{
    font-size:11px;
    color:#7b7d82;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
}

.wrap-profile .list-profile{
    list-style: none;
    background: white;
    height: 100%;
    border-radius:5px;
}


.list-profile li a{
    text-decoration: none;
}

.list-profile li a:active{
    color:#ecd4f1;
}

.list-profile li{
    border:none;
}

.content-profile{
    background:white;
    padding: 5px 15px 10px;
    width:100%;
    height: auto;
    border-radius: 5px;
}

.content-profile .title-profile{
    color:#4d96ff;
    font-weight: 600;
    font-size:24px;
    line-height: 28px;
    margin: 10px 0 10px;
}

.info-profile label{
    color:#898989;
    font-size:14px;
    font-weight: 400;
    line-height: 16px;
}

